<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Test-Suite" >

    <test name="Annotations" >
        <classes>
            <class name="TestingAnnotationsClass" />
        </classes>
    </test>

    <test name="Asserts" >
        <classes>
            <class name="TestingAssertsClass" />
        </classes>
    </test>

</suite>